* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --black: #000000ff;
  --queen-blue: #386fa4ff;
  --alice-blue: #dbe4eeff;
  --safety-orange-blaze-orange: #f96900ff;
  --international-orange-engineering: #bf0603ff;
}

.error {
  color: var(--international-orange-engineering);
}

.opacity {
  opacity: 0.9;
}

.orange {
  color: var(--safety-orange-blaze-orange);
}

.btn {
  cursor: pointer;
  background-color: var(--safety-orange-blaze-orange);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all .2s ease-in;
}

.btn:hover {
  outline: 2px solid var(--safety-orange-blaze-orange);
  background-color: var(--black);
}

.container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--alice-blue), var(--queen-blue), var(--black));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 60px 0;
  color: var(--alice-blue);
  text-align: center;
}

.card {
  background-color: var(--black);
  border-radius: 10px;
  width: 60%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0 0 15px var(--black);
}

.card img {
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
}

.card-container {
  padding: 20px;
}

.card-container h2 {
  color: var(--alice-blue);
  text-align: center;
  margin: 20px 0;
}

.card-container p {
  margin-bottom: 20px;
  text-align: justify;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 2px solid var(--alice-blue);
  border-radius: 5px;
  outline: none;
}

input:focus {
  border: 2px solid var(--queen-blue);
}

#submit {
  cursor: pointer;
  color: var(--alice-blue);
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--safety-orange-blaze-orange);
  transition: all .2s ease-in;
}

#submit:hover {
  outline: 2px solid var(--safety-orange-blaze-orange);
  background-color: var(--black);
}

.card-container p {
  color: var(--alice-blue);
}

.card-container a {
  text-decoration: none;
  color: var(--safety-orange-blaze-orange);
}

.card-container a:hover {
  text-decoration: underline;
}

.navigation {
  width: 100%;
  background-color: var(--black);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size: 16px;
  box-shadow: 0 5px 15px var(--black);
  position: sticky;
  top: 0;
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-item-log {
  margin-left: 20px;
}

.nav-link {
  color: var(--alice-blue);
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.8;
}

.nav-logo {
  font-size: 40px;
  color: var(--alice-blue);
  text-decoration: none;
}

.footer {
  background-color: var(--black);
  height: 80px;
  box-shadow: 0 0 15px var(--black);
  display: flex;
  align-items: center;
  color: var(--alice-blue);
  justify-content: center;
}

.container-big {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: 100%;
  background-image: radial-gradient(var(--alice-blue), var(--queen-blue), var(--black));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-big h1 {
  margin: 60px 0;
  color: var(--alice-blue);
  text-align: center;
}

.card-big {
  background-color: var(--black);
  border-radius: 10px;
  width: 60%;
  height: auto;
  box-shadow: 0 0 15px var(--black);
  margin-bottom: 100px;
}

.card-big h2 {
  color: var(--alice-blue);
  text-align: center;
  margin: 20px 0;
}

.card-big-container {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: start;
}

.card-big-container:nth-child(even) {
  grid-template-columns: 60% 40%;
}

.card-big-container img {
  width: 100%;
  height: 100%;
}

.first {
  border-radius: 10px 0 0 0;
}

.last {
  border-radius: 0 0 0 10px;
}

.card-ex-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
  align-items: start;
}

.ex-container {
  border-radius: 5px;
  height: 100%;
  padding: 20px;
  background-color: var(--queen-blue);
}

.ex-container p {
  color: var(--alice-blue);
  margin-bottom: 20px;
  text-align: justify;
}

#name {
  text-align: center;
  color: var(--alice-blue);
  margin-bottom: 20px;
}

#exercises {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

#select {
  border: none;
  cursor: pointer;
  color: var(--alice-blue);
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 20%;
}

select {
  width: 70%;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--queen-blue);
  color: var(--alice-blue);
  border-radius: 5px;
  outline: none;
  border: none;
}

select:hover {
  opacity: 0.9;
}

.instructions {
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show {
  height: auto;
  overflow: visible;
}

.readmore {
  border: none;
  color: var(--alice-blue);
  font-size: 16px;
}

.readmore:hover {
  background-color: var(--queen-blue);
}

.ex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exercises-container {
  padding: 0 20px;
}

.exercise-container {
  width: 100%;
  color: var(--alice-blue);
  border-radius: 10px;
  background-color: var(--queen-blue);
  margin: 20px 0;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.exercise-container h2,
h3 {
  text-align: left;
  text-transform: capitalize;
}

.exercise-container h3 {
  text-align: center;
}

.remove {
  border: none;
  color: var(--alice-blue);
  background-color: var(--international-orange-engineering);
  font-size: 16px;
}

.remove:hover {
  outline: 2px solid var(--international-orange-engineering);
  background-color: var(--queen-blue);
}

#exercise {
  width: 50px;
}

#delete {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hide {
  display: none;
}

.mobile-menu {
  position: absolute;
  right: 0;
  top: 80px;
  padding: 30px;
  list-style-type: none;
  height: 100vh;
  background-color: var(--black);
  z-index: 90;
}

.mobile-menu .nav-item {
  margin-left: 0;
  margin-bottom: 10px;
  text-align: end;
}

#mobile-menu-open {
  position: absolute;
  right: 20px;
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--black);
  padding: 5px 10px;
  z-index: 100;
}

#mobile-menu-open:hover {
  opacity: 0.8;
}

.top-line,
.mid-line,
.bot-line {
  background-color: var(--alice-blue);
  width: 25px;
  margin: 4px 0;
  height: 2px;
  z-index: 10;
}

.change.top-line {
  transform: translateY(3px) rotate(45deg);
}

.change.mid-line {
  display: none;
}

.change.bot-line {
  transform: translateY(-3px) rotate(-45deg);
}

.disable-scroll {
  overflow: hidden;
}

.message {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 20;
  background-color: var(--alice-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--safety-orange-blaze-orange);
  font-size: 18px;
}

@media (max-width: 1280px) {
  .card-big {
    width: 90%;
  }

  .card {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .exercise-container {
    grid-template-columns: 1fr 0.3fr;
  }

  .navbar .nav-item {
    display: none;
  }

  #mobile-menu-open {
    display: block;
  }

  .equip {
    display: none;
  }
}

@media (max-width: 740px) {
  img {
    display: none;
  }

  .card {
    height: auto;
    grid-template-columns: 1fr;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .card-big-container {
    padding: 0 20px;
    grid-template-columns: 1fr;
  }

  .card-big-container:nth-child(even) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  #exercises {
    justify-content: space-around;
  }

  .card-ex-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .readmore {
    font-size: 14px;
  }

  #select {
    font-size: 14px;
  }

  select {
    font-size: 14px;
  }

  .card-ex-container {
    padding: 10px;
    gap: 10px;
  }

  .ex-container {
    padding: 10px;
  }

  .ex-container p {
    margin-bottom: 20px;
  }

  .exercises-container {
    padding: 0 10px;
  }

  .exercise-container h2 {
    font-size: 18px;
  }

  .exercise-container {
    margin: 10px 0;
    padding: 0 10px;
  }

  #delete {
    margin-left: 10px;
  }

  .card-container {
    padding: 10px;
  }

  .card-big-container {
    padding: 0 10px;
  }
}