{% extends "layout.html" %}

{% block title %} Exercises {% endblock %}

{% block body %}
<div class="container-big">
  <h1>Select The Muscle You Want To Work</h1>
  <div class="card-big">
    <form action="/exercises" id="exercises" method="post">
      <select name="muscles" id="muscles">
        <option selected disabled>Select Muscle</option>
        <option value="abdominals">abdominals</option>
        <option value="abductors">abductors</option>
        <option value="adductors">adductors</option>
        <option value="biceps">biceps</option>
        <option value="calves">calves</option>
        <option value="chest">chest</option>
        <option value="forearms">forearms</option>
        <option value="glutes">glutes</option>
        <option value="hamstrings">hamstrings</option>
        <option value="lats">lats</option>
        <option value="lower_back">lower_back</option>
        <option value="middle_back">middle_back</option>
        <option value="neck">neck</option>
        <option value="quadriceps">quadriceps</option>
        <option value="shoulders">shoulders</option>
        <option value="traps">traps</option>
        <option value="triceps">triceps</option>
      </select>
      <button type="submit" class="btn" id="select" name="select">Select</button>
    </form>
    <h2>Here are some exercises</h2>
    <div class="card-ex-container">
      {% for ex in exercises %}
      <div class="ex-container">
        <h3 id="name">{{ ex["name"] }}</h3>
        <div class="ex">
          <p id="type">{{ ex["type"] }}</p>
          <p id="equipment">{{ ex["equipment"] }}</p>
          <p id="difficulty">{{ ex["difficulty"] }}</p>
        </div>
        <div>
          <p class="instructions">{{ ex["instructions"] }}</p>
          <button class="btn readmore" onclick="readMore(this)">Read More</button>
          <form action="/add" method="post" style="display: inline;">
            <input type="text" name="name" value="{{ ex['name'] }}" hidden>
            <input type="text" name="equipment" value="{{ ex['equipment'] }}" hidden>
            <input type="text" name="instructions" value="{{ ex['instructions'] }}" hidden>
            <button class="btn readmore" name="add" value="add" type="submit">Add exercise</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function readMore(btn) {
    let text = btn.parentElement;
    text.querySelector('.instructions').classList.toggle('show');
    if (btn.innerText = 'Read More') {
      btn.innerText = 'Read Less';
    } else {
      btn.innerText = 'Read More';
    }
  }
</script>
{% endblock %}