{% extends "layout.html" %}

{% block title %} Why You Should Workout? {% endblock %}

{% block body %}
  <div class="container-big">
    <h1>Why You Should Workout?</h1>
    <div class="card-big">
      <div class="card-big-container">
        <img src="{{ url_for('static', filename='1.jpg') }}" alt="Man lifting a barbell" class="first">
        <div class="card-container">
          <h2>Exercise controls weight</h2>
          <p>Exercise can help prevent excess weight gain or help maintain weight loss. When you engage in physical activity, you burn calories. The more intense the activity, the more calories you burn.</p>
          <p>Regular trips to the gym are great, but don't worry if you can't find a large chunk of time to exercise every day. Any amount of activity is better than none at all. To reap the benefits of exercise, just get more active throughout your day — take the stairs instead of the elevator or rev up your household chores. Consistency is key.</p>
        </div>
      </div>

      <div class="card-big-container">
        <div class="card-container">
          <h2>Exercise combats health conditions and diseases</h2>
          <p>Worried about heart disease? Hoping to prevent high blood pressure? No matter what your current weight is, being active boosts high-density lipoprotein (HDL) cholesterol, the "good" cholesterol, and it decreases unhealthy triglycerides. This one-two punch keeps your blood flowing smoothly, which decreases your risk of cardiovascular diseases.</p>
        </div>
        <img src="{{ url_for('static', filename='1.jpg') }}" alt="Man lifting a barbell">
      </div>

      <div class="card-big-container">
        <img src="{{ url_for('static', filename='1.jpg') }}" alt="Man lifting a barbell">
        <div class="card-container">
          <h2>Exercise improves mood</h2>
          <p>Need an emotional lift? Or need to destress after a stressful day? A gym session or brisk walk can help. Physical activity stimulates various brain chemicals that may leave you feeling happier, more relaxed and less anxious.</p>
          <p>You may also feel better about your appearance and yourself when you exercise regularly, which can boost your confidence and improve your self-esteem.</p>
        </div>
      </div>

      <div class="card-big-container">
        <div class="card-container">
          <h2>Exercise boosts energy</h2>
          <p>Winded by grocery shopping or household chores? Regular physical activity can improve your muscle strength and boost your endurance.</p>
          <p>Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.</p>
        </div>
        <img src="{{ url_for('static', filename='1.jpg') }}" alt="Man lifting a barbell">
      </div>

      <div class="card-big-container">
        <img src="{{ url_for('static', filename='1.jpg') }}" alt="Man lifting a barbell" class="last">
        <div class="card-container">
          <h2>Exercise promotes better sleep</h2>
          <p>Struggling to snooze? Regular physical activity can help you fall asleep faster, get better sleep and deepen your sleep. Just don't exercise too close to bedtime, or you may be too energized to go to sleep.</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}